<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>待发货</title>
     <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css" />
</head>

<body>

<!-- 头部栏位 -->
<!--页面顶部，由js动态加载-->
<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
<div class="nav-bottom"></div>
<script type="text/javascript">$(".nav-bottom").load("top.html");</script>
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#service").hover(function(){
            $(".service").show();
        },function(){
            $(".service").hide();
        });
        $("#shopcar").hover(function(){
            $("#shopcarlist").show();
        },function(){
            $("#shopcarlist").hide();
        });

    })
</script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
<!--header-->
<div id="account">
    <div class="py-container">
        <div class="yui3-g home">
            <!--左侧列表-->
            <div class="yui3-u-1-6 list">

                <div class="person-info">
                    <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                    <div class="person-account">
                        <span class="name">{{user.username}}</span>
                        <span class="safe"><a href="#" @click="logout()">退出登录 </a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-items">
                    <dl>
                        <dt><i>·</i> 订单中心</dt>
                        <dd ><a href="home-index.html"   >我的订单</a></dd>
                        <dd><a  href="home-order-pay.html">待付款</a></dd>
                        <dd><a  href="home-order-send.html" class="active">待发货</a></dd>
                        <dd><a  href="home-order-receive.html">待收货</a></dd>
                        <dd><a  href="home-order-evaluate.html">待评价</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 我的中心</dt>
                        <dd><a href="home-person-collect.html">我的收藏</a></dd>
                        <dd><a href="home-person-footmark.html">我的足迹</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 物流消息</dt>
                    </dl>
                    <dl>
                        <dt><i>·</i> 设置</dt>
                        <dd><a href="home-setting-info.html">个人信息</a></dd>
                        <dd><a href="home-setting-address.html"  >地址管理</a></dd>
                        <dd><a href="home-setting-safe.html" >安全管理</a></dd>
                    </dl>
                </div>
            </div>
            <!--右侧主内容-->
            <div class="yui3-u-5-6 order-pay">
                <div class="body">
                    <div class="table-title">
                        <table class="sui-table  order-table">
                            <tr>
                                <thead>
                                <th width="35%">宝贝</th>
                                <th width="5%">单价</th>
                                <th width="5%">数量</th>
                                <th width="8%">商品操作</th>
                                <th width="10%">实付款</th>
                                <th width="10%">交易状态</th>
                                <th width="10%">交易操作</th>
                                </thead>
                            </tr>
                        </table>
                    </div>
                    <div class="order-detail">
                        <!--order1-->
                        <div v-for="order in orders" :key="order.orderId">
                            <div class="choose-title" >
                                <label data-toggle="checkbox" class="checkbox-pretty ">
                                    <input type="checkbox" checked="checked"><span>{{formatDate(order.createTime)}}　订单编号：{{order.orderID1}}  店铺：哇哈哈 <a>和我联系</a></span>
                                </label>
                                <a class="sui-btn btn-info share-btn">分享</a>
                            </div>
                            <table class="sui-table table-bordered order-datatable">
                                <tbody>
                                <tr v-for="orderDetail in order.orderDetails" :key="orderDetail.orderId">
                                    <td width="35%">
                                        <div class="typographic"><img :src="orderDetail.image" style="width: 60px;height: 60px"/>
                                            <a href="#" class="block-text">{{orderDetail.title}}</a>
                                            <span class="guige">{{getParam(orderDetail.ownSpec)}}</span>
                                        </div>
                                    </td>
                                    <td width="5%" class="center">
                                        <ul class="unstyled">
                                            <li>¥{{formatPrice(orderDetail.price)}}</li>
                                        </ul>
                                    </td>
                                    <td width="5%" class="center">{{orderDetail.num}}</td>
                                    <td width="8%" class="center">

                                    </td>
                                    <td width="10%" class="center" >
                                        <ul class="unstyled">
                                            <li>¥{{formatPrice(orderDetail.price + parseInt(order.postFee))}}</li>
                                            <li>（含运费：￥{{formatPrice(parseInt(order.postFee))}}）</li>
                                        </ul>
                                    </td>
                                    <td width="10%" class="center">
                                        <ul class="unstyled">
                                            <li>{{getStatus(order.status)}}</li>
                                            <li><a href="home-orderDetail.html" class="btn">订单详情 </a></li>
                                        </ul>
                                    </td>
                                    <td width="10%" class="center">
                                        <ul class="unstyled">
                                            <li><a href="#" class="sui-btn btn-info" v-show="order.status == 1">立即付款</a></li>
                                            <li>取消订单</li>

                                        </ul>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="choose-order" v-if="orders.length != 0">
                            <div class="sui-pagination pagination-large top-pages">
                                <ul>
                                    <li class="prev" :class="{disabled: query.page == 1}" @click="prev()">
                                        <a href="#">«上一页</a>
                                    </li>
                                    <li class="dotted" v-if="query.page > 3 && totalPage > 5"><span>...</span></li>
                                    <li :class="{active: query.page == index(i)}" v-for="i in Math.min(5,totalPage)" @click="query.page=index(i)">
                                        <a href="#">{{index(i)}}</a>
                                    </li>
                                    <li class="dotted" v-if="query.page <= totalPage - 3 && totalPage >= 5"><span>...</span></li>
                                    <li class="next" :class="{disabled: query.page == totalPage}" @click="next()">
                                        <a href="#">下一页»</a>
                                    </li>
                                </ul>
                                <div><span>共{{totalPage}}页&nbsp;</span><span>
                                            到
                                            <input type="text" class="page-num"><button class="page-confirm" onclick="alert(1)">确定</button>
                                            页</span></div>
                            </div>
                        </div>
                        <div v-else><h3>暂无商品</h3></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="like-title">
                        <div class="mt">
                            <span class="fl"><strong>热卖单品</strong></span>
                        </div>
                    </div>
                    <div class="like-list">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike01.png" />
                                    </div>
                                    <div class="attr">
                                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>3699.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有6人评价</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike02.png" />
                                    </div>
                                    <div class="attr">
                                        <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4388.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有700人评价</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike03.png" />
                                    </div>
                                    <div class="attr">
                                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4088.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有700人评价</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike04.png" />
                                    </div>
                                    <div class="attr">
                                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4088.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有700人评价</i>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<div class="clearfix footer"></div>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/plugins/jquery/jquery.cookie.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#account",
        data: {
            ly,
            user: {},
            orders:[],
            query:{
                status:2,
                page:1,
                rows:5
            },
            totalPage:0,
        },
        created() {
            ly.http("/auth/verify").then(resp => {
                this.user = resp.data;
                this.loadOrder();
            }).catch(() => {
                // 未登录，跳转至登录页
                location.href = "/login.html?returnUrl=" + location.href;
            });
        },
        methods: {
            logout() {
                // 删除cookie中的token即可
                Cookies.remove("LY_TOKEN",{
                    path:"/",
                    domain:".lingyang.com"
                });
                window.location = 'http://www.lingyang.com'
            },
            gotoLogin() {
                window.location = "login.html?returnUrl=" + window.location;
            },
            loadOrder(){
                // 查询订单信息
                ly.http.get("/order/order/list?"+ ly.stringify(this.query)).then(({data:{items,total}}) => {
                    this.orders = items;
                    this.totalPage = Math.ceil(total / this.query.rows);
                }).catch(() => this.orders = [])
            },
            formatDate:ly.formatDate,
            formatPrice: ly.formatPrice,
            getTotalPrice(order){
                return order.orderDetails.map(d => d.num * d.price).reduce((v1,v2) => v1 + v2, 0);
            },
            getStatus(status){
                switch (status) {
                    case 1:
                        return "等待付款";
                    case 2:
                        return "已付款，等待商家发货";
                    case 3:
                        return "已发货，等待确认";
                    case 4:
                        return "交易成功";
                    case 5:
                        return "交易关闭";
                    case 6:
                        return "已评价";
                }
            },
            getParam(ownSpec){
                let obj = JSON.parse(ownSpec);
                let result = "";
                for (let key in obj) {
                    result += obj[key];
                    result += " ";
                }
                return result;
            },
            changePage(index){
                this.index = index;
            },
            //分页
            index(i){
                if (this.query.page <= 3 || this.totalPage <= 5){
                    return i;
                } else if (this.query.page >= this.totalPage - 2){
                    return this.totalPage - 5 +i;
                }else{
                    return this.query.page-3+i;
                }
            },
            prev(){
                if (this.query.page>1){
                    this.query.page--;
                }
            },
            next(){
                if (this.query.page<this.totalPage){
                    this.query.page++;
                }
            },
        },
        watch:{
            query:{
                deep:true,
                handler(){
                    this.loadOrder();
                }
            }
        },
    });
</script></div>
</body>

</html>