<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyang.order.mapper.OrderMapper">

    <resultMap id="orderWithDetail" type="com.lingyang.order.pojo.Order" autoMapping="true">
        <id column="order_id" property="orderId" />
        <collection property="orderDetails" javaType="List" ofType="com.lingyang.order.pojo.OrderDetail" autoMapping="true">
            <id property="id" column="id" />
        </collection>
    </resultMap>

    <select id="queryOrderList" resultMap="orderWithDetail">
        SELECT o.order_id,o.actual_pay, o.total_pay,o.create_time,o.payment_type,o.post_fee, os.status, od.sku_id,
          od.title ,od.image, od.num , od.own_spec, od.price
        FROM tb_order o
        LEFT JOIN tb_order_status os ON os.order_id = o.order_id
        LEFT JOIN tb_order_detail od ON od.order_id = o.order_id
        WHERE o.user_id = #{userId}
        <if test="status != null and status != 0">
          AND os.status = #{status}
        </if>
        ORDER BY o.create_time DESC
    </select>

    <resultMap id="orderWithStatus" type="com.lingyang.order.pojo.Order" autoMapping="true">
        <id column="order_id" property="orderId" />
    </resultMap>

    <select id="selectByStatus" resultMap="orderWithStatus">
        SELECT o.order_id,o.actual_pay, o.total_pay,o.create_time,o.payment_type,o.post_fee,o.buyer_nick,o.invoice_type, o.source_type,os.status,
        o.receiver_state,o.receiver_city,o.receiver_district,o.receiver_address,o.receiver_mobile
        FROM tb_order o
        LEFT JOIN tb_order_status os ON os.order_id = o.order_id
        <where>
            <choose>
                <when test="keys != ''">
                    and o.buyer_nick like "%"#{keys}"%"
                </when>
                <when test="status != null and status != 0">
                    and os.status = #{status}
                </when>
            </choose>
        </where>
        ORDER BY o.create_time DESC
    </select>
</mapper>
